{% extends 'base.html' %}
{% load static %}

{% block title %}
Factory Nepal | Company
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row m-4 align-items-center">
        <div class="col-md-8 mx-auto mb-4">
            <div class="search">
                <form name="myform" method="POST" action="{% url 'company' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="company_search"
                        placeholder="Type company or product name ...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if seller_lists|length != 0 %}
        {% for seller in seller_lists %}
        <a href="{% url 'company_detail' seller.id %}">
            <div class="col">
                <div class="card">
                    {% if seller.company_logo %}
                    <img src="{{seller.company_logo.url}}" class="card-img-top" />
                    {% else %}
                    <img src="{% static 'images/fastfood.jpeg' %}" class="card-img-top" />
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{seller.company_name}}</h5>
                        <p class="card-text">
                            {{seller.company_description}}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}

        {% if seller_lists|length == 0 %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No results found</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock content %}