{% extends 'base.html' %}
{% load static %}

{% block title %}
Factory Nepal | Products
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row m-4 align-items-center">
        <div class="col-md-8 mx-auto mb-4">
            <div class="search">
                <form name="myform" method="POST" action="{% url 'product' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="product_search"
                        placeholder="Type company or product name ...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if product_lists|length != 0 %}
        {% for product in product_lists %}
        <div class="col">
            <div class="card">
                {% if product.image %}
                <img src="{{product.image.url}}" class="card-img-top" />
                {% else %}
                <img src="{% static 'images/fastfood.jpeg' %}" class="card-img-top" />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}


        {% if product_lists|length == 0 %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No results found</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock content %}