{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row m-4 align-items-center">
        <div class="col-md-8 mx-auto mb-4">
            <div class="reset-form">
                <form name="myform" method="POST" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <input type="email" class="form-control" name="reset-password"
                    placeholder="Enter Email address ..." required>
                    <button type="submit" class="btn btn-primary m-4">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}