{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row m-4 align-items-center">
        <div class="col-md-8 mx-auto mb-4">
            <div class="reset-form">
                <form method="POST">
                    {% csrf_token %}
                    <input type="password" name="password1" id="password1" placeholder="Enter new password">
                    <input type="password" name="password2" id="password2" placeholder="Confirm new password">
                    <input type="submit" value="Reset Password" class="btn btn-primary">
                </form>
            </div>
        </div>
        <a href="{% url 'homepage' %}" class="text-center">Return to homepage</a>
    </div>
{% endblock content %}